{% extends "base_generic.html" %} {% load static %} {% block about %}
<div class="main">
  <div class="container">
    <h1>Impression</h1>
    <p>
      Task Force Aspis is an English speaking Military Simulation group. The
      unit is structured around a joint Multinational Task Force of operators
      from the British SAS and SBS. with the American Combat Applications Group,
      supported by the Aviation Tactics Evaluation Group. Our campaigns are
      always supported by an extensive backdrop of realistic background stories
      based on real geopolitics. This backdrop creates immersion and a sense of
      your efforts coming together in a bigger picture and you making an actual
      difference. We balance low numbers, with realistic and fun battle order,
      in order to enforce professionalism and teamwork between people you know.
      Each member is a valued part of the group and each member is expected to
      uphold a role of responsibility, be it in the field or administratively.
      We accept people in the age group 18+, provided they are mature and
      like-minded.
    </p>
  </div>
</div>
<script src="{% static '/frontend/js/loader.js' %}"></script>

{% endblock %}
