{% extends "base_generic.html" %} {% load static %} {% block content %}
<div class="main">
  <header class="showcase">
    <div class="showcase-video desktop-only">
      <video
        src="{% static '/frontend/video/vid1.mov' %}"
        autoplay="True"
        type="video/mov"
        loop="True"
      ></video>
    </div>
    <div class="showcase-content">
      <h1>Can you make the cut?</h1>
      <p>ARMA 3 MILSIM AT IT'S PEAK</p>
      <a href="#" class="btn btn-xl"
        >Start your journey today<i class="fas fa-chevron-right btn-icon"></i
      ></a>
      <a href="http://tf-aspis.com/" class="oldsitelink">Old website?</a>
    </div>
  </header>
  <div class="container">
    <div class="box1">
      <h1>Task Force Aspis</h1>
      <p>
        Welcome to Task Force Aspis, cunt. This lower part needs to be filled
        up, i know...
      </p>
    </div>
  </div>
</div>
<script src="{% static '/frontend/js/loader.js' %}"></script>

{% endblock %}
